.container {
  display: flex;
}
.sidenav-container {
  width: 150px;
  height: 93vh;
  background-color: #253540;
  color: #fff;
  padding-top: 50px;
}
.sidenav-container a{
  text-decoration: none;

}
table {
  width: 100%;
}
