mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}
mat-card-header {
  padding: 20px;
  font-size: 2rem;
}
mat-card button {
  margin-right: 20px;
}
#btn-cancel {
  background-color: #0b1824cc;
  color: #fff;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
