<mat-expansion-panel hideToggle >
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="task-icon">task</mat-icon>
    </mat-panel-title>
    <mat-panel-description>
      Nome do Componente atual 'dinâmico'
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="btn-container">
    <button mat-mini-fab class="btn-mini" routerLink="">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-mini-fab class="btn-mini" routerLink="task">
      <mat-icon>task</mat-icon>
    </button>
  </div>
</mat-expansion-panel>
