mat-card {
  background-image: radial-gradient(
    #a4a5a6,
    #455159,
    #253540,
    #0b1a26,
    #01060d
  );
  color: #fff;
  height: 88vh;
  width: 86vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card mat-card-header {
  font-size: 10rem;
}

.container {
  display: flex;
}
.sidenav-container {
  width: 150px;
  height: 93vh;
  background-color: #253540;
  color: #fff;
  padding-top: 50px;
}

