<div class="container">
  <mat-sidenav-container class="sidenav-container">
    <button mat-button (click)="navigate('')">
      <mat-icon>home</mat-icon>
      Home
    </button>

    <button mat-button [matMenuTriggerFor]="afterMenu">
      <mat-icon>task</mat-icon>
      Tasks
    </button>
    <mat-menu #afterMenu="matMenu" xPosition="after" class="menu">
      <button mat-menu-item (click)="navigate('/task')">
        <mat-icon>table_rows_narrow</mat-icon>
        Task table
      </button>
      <button mat-menu-item (click)="navigate('/create')">
        <mat-icon>add_task</mat-icon>
        Add task
      </button>
    </mat-menu>

    <button mat-button (click)="navigate('game')">
      <mat-icon>sports_esports</mat-icon>
      Memory Game
    </button>
  </mat-sidenav-container>

  <mat-card>
    <mat-card-header>TypeScript</mat-card-header>
  </mat-card>
</div>
