mat-toolbar{
  height: min-content;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  position: fixed;
  bottom: 0;
  background-color:#0B1A26;
}
mat-toolbar img{
  width: 20px;
  padding: 5px;
}
